name: dbt CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  dbt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run dbt
        run: |
          export DBT_PROFILES_DIR=github_analytics/profiles.yml
          cd github_analytics
          dbt seed
          dbt run
          dbt test